
.menu  {
    height: 64px;
    margin-top: 12px;
  }
 
  .edit-budget {
    display: inline-flex; 
    flex-flow: row nowrap; 
    min-height: 50px; 
    align-items: center; 
    justify-content: space-between; 
  }

  .selected-month {
    background-color: #6a6cfe !important;
    color: white;
  }

  .income-progress-bar {
    list-style: none;
  }

  .title-date {
    font-size: 30px;
    font-weight: bold;
  }
  
  .individual-month > div:hover {
    cursor: pointer;
  }

  #chakra-modal-mymodal {
    height:600px !important;
    /* // There is a max-width rule used by chakra-ui, */
    /* // thus you need to overwrite it to make it work. */
    max-width:1000px !important;
}