.trends-container {
  width: 100vw;
  height: 1000px;
  background-color: trends-container;
}

.trends-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .toggle-graph, .toggle-graph:visited {
    text-decoration: none;
    color: black;
  }

  .toggle-graph:hover {
    background-color: #f9fafc !important;
  }

  .toggle-graph-checked {
    background-color: #f9fafc !important;
    text-decoration: none;
  }

  .mt-n1 {
    margin-top: 0px;
  }

  .mt-n2 {
    margin-top: 0px;
  }

  .mb-date-picker {
    margin-bottom: -100px;
  }

  .pie-category-legend {
    padding-bottom: 50px;
  }

  .display-chart:hover {
    background-color: #f9fafc !important;
    color: black;
  }

  .mb-date-picker {
    margin-bottom: -60px;
  };