$primary: #6a6cfe;
$secondary: #8392a1;
$success: #72dc3a;
$danger: #ff3e1d;
$warning: #feab00;
$info: #0bc3ec;
$dark: #233445;




// $gradient: linear-gradient(90deg, rgba(223, 153, 153, 0.15), rgba(198, 13, 13, 0));
// $gradient: linear-gradient(90deg, black, purple, blue, turquoise);
